.table-header{
    position: relative;
    padding:0 20px;
}
.table-header-icon{
    position: absolute;
    top:-55px;
    left:16px;
}

@media(max-width:600px) {
    .table-header-icon{
        position: absolute;
        top:-40px;
        left:10px;
    }
}